<% include ./partials/header %> 
<div class="col-sm-6 mx-auto">

<div class="card">
    <h1 class="mt-4">Dashboard</h1>
    <form class="form-inline my-2 my-lg-0" action="/resources/search" method="post">
      <input class="form-control mr-sm-2" name = "query" type="search" placeholder="Search Notes" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form> 
    <p class="lead mb-3">Welcome <%= user.name %></p>
    <a href="/resources/add" class="btn btn-secondary">Add</a>
    <a href="/resources/search" class="btn btn-secondary">Search</a>
    <a href="/resources" class="btn btn-secondary">Home</a>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
 
<%if(resources.length!=0)
for(var i=0; i<resources.length; i++) { %>
  <div class="card-body">
      <img src = "<%=resources[i].img %>" style="height: 200px width: 400px"/>
    <h3 class="card-title">
      <a href="/resources/view/<%= resources[i]._id%>"><%= resources[i].name%></a><br>
      <%= resources[i].author%></a>
    </h3>
  </div>

<%} else {%>
  <div class="card-body">
    <h3 class="card-title">No Notes Listed</h3>
     <a href="/resources/add" class="btn btn-primary" title="add">Add a Note</a><br>
  </div>
<%}%>
</div>
</div>
<% include ./partials/footer %>

