<% include ./partials/header %>
<div class="col-sm-6 mx-auto">
    <div class="card">
    <img src = "<%=resources.img%>">
    <div class="card-header">
    <h2><%=resources.name%></h2>
   </div>
      <div class="card-body">
        <h5 class="card-title">name: <%=resources.name%></h5>
        <h5 class="card-title">author: <%=resources.author%></h5>
        <h5 class="card-title">type: <%=resources.type%></h5>
        <h5 class="card-title">category: <%=resources.category%></h5>
        <h5 class="card-title">details: <%=resources.details%></h5>
        <h5 class="card-title">user: <%=resources.user%></h5>
        <h5 class="card-title">date: <%=resources.date%></h5>
       <% if(user.role=='admin'){%>
        <a href="/resources/update/<%= resources.id%>" class="btn btn-primary" title="Edit"><span class="fas fa-edit" style="font-size: 1em;"></span> Edit</a>
        <a href="/resources/delete/<%= resources.id%>" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger" title="Delete"><span class="fas fa-trash" style="font-size: 1em;"></span> Delete</a>
    <div class="card-footer text-muted">
    <%}%>
    Last Updated: <%=resources.date%>
    </div>
</div>
    
<form class="form" action="/resources/comment/<%=resources.id%>" method="post">
  <input type="text" name="comment" class="form-control" placeholder="comment" required autofocus><br>
  <button class="btn btn-primary"  type="submit">Comment</button>
  </form>


    <%if(comments.length!=0){
    for(var i=0; i< comments.length; i++) { %>
    <div class="card-body">
        <h5 class="card-title">comment: <%=comments[i].comment%></h5>
        <h5 class="card-title">By: <%=comments[i].user%></h5>
        <h5 class="card-title">Date: <%=comments[i].date%></h5>
        <%if(comments[i].user ===user.name){%>
<a href="/resources/delete-comment/<%= comments[i].id%>" class="btn btn-primary" title="Delete">delete</a>
    <%}%>
    </div>
    <%}} else{%>
    <div class="card-body">
        <h5 class="card-title">No Comments.</h5>
    </div>
    <%}%>

    <% for(var i=0; i< likes.length; i++) {
    if(likes[i].user===user.id){
    break;}}
    if(i==likes.length){%>
    <div class="card-body"><a href="/resources/like/<%= resources.id%>" class="btn btn-primary" title="likes">likes: <%=likes.length%></a></div>
<%} else{%>
<div class="card-body"><a href="#" class="btn btn-primary" title="likes: <%=likes.length%>" disabled >likes: <%=likes.length%></a></div>
<%}%>



</div>
<% include ./partials/footer %>
