<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contest</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="../conteststyle.css" rel="stylesheet">

</head>

<body >
  <h1 class="head">upcoming Contest</h1>
    <div id="root">


      <div class="container">
          <% upcoming.forEach(res => { %>
            <a class="card" href="<%= res.url %>" target="blank">
                <h1> <%= res.Name %> </h1>
                <% var plat = res.Platform %>
                <% if(plat === "HACKERRANK") { %>
                  <span style="float: right; right: 0; padding: 0 16px;"><img src="../hackerrank.png" style="height: 60px;"></span>
                <% } %>
                <% if(plat === "HACKEREARTH") { %> 
                  <span style="float: right; right: 0; padding: 0 16px;"><img src="../hackerearth.jpg" style="height: 60px;"></span>
                <% } %>
                <% if(plat === "CODECHEF") { %> 
                  <span style="float: right; right: 0; padding: 0 16px;"><img src="../codechef.jpg" style="height: 60px;"></span>
                <% } %>
                <% if(plat === "OTHER") { %> 
                  <span style="float: right; right: 0; padding: 0 16px;"><img src="../other.png" style="height: 60px;"></span>
                <% } %>
                <% if(plat === "TOPCODER") { %> 
                  <span style="float: right; right: 0; padding: 0 16px;"><img src="../topcoder.jpg" style="height: 60px;"></span>
                <% } %>
                <% if(plat === "CODEFORCES") { %> 
                  <span style="float: right; right: 0; padding: 0 16px;"><img src="../codeforces.jpg" style="height: 60px;"></span>
                <% } %>
                <p style="width: 260px;"> <%= `Start Time-${res.StartTime}` %> </p>
                <p style="width: 260px;"> <%= `End Time-${res.EndTime}` %> </p>
                <p> <%= `Duration-${res.Duration}` %> </p>
                
              </a>
          <% }) %>
        </div>

 </div>
    