<%include ../partials/header%>
<link href="../contest/conteststyle.css" rel="stylesheet">
  <h1 class="head">upcoming Contest</h1>
    <div id="root">


      <div class="container">
          <% upcoming.forEach(res => { %>
            <a class="card" href="<%= res.url %>" target="blank">
                <h1> <%= res.Name %> </h1>
                <% var plat = res.Platform %>
                <% var plat = res.Platform %>
                <% if(plat === "HACKERRANK") { %>
                  <span style="float: right; right: 0; padding: 0 16px;"><img src="../contest/hackerrank.png" style="height: 60px;"></span>
                <% } %>
                <% if(plat === "HACKEREARTH") { %> 
                  <span style="float: right; right: 0; padding: 0 16px;"><img src="../contest/hackerearth.jpg" style="height: 60px;"></span>
                <% } %>
                <% if(plat === "CODECHEF") { %> 
                  <span style="float: right; right: 0; padding: 0 16px;"><img src="../contest/codechef.jpg" style="height: 60px;"></span>
                <% } %>
                <% if(plat === "OTHER") { %> 
                  <span style="float: right; right: 0; padding: 0 16px;"><img src="../contest/other.png" style="height: 60px;"></span>
                <% } %>
                <% if(plat === "TOPCODER") { %> 
                  <span style="float: right; right: 0; padding: 0 16px;"><img src="../contest/topcoder.jpg" style="height: 60px;"></span>
                <% } %>
                <% if(plat === "CODEFORCES") { %> 
                  <span style="float: right; right: 0; padding: 0 16px;"><img src="../contest/codeforces.jpg" style="height: 60px;"></span>
                <% } %>
                <p style="width: 260px;"> <%= `Start Time-${res.StartTime}` %> </p>
                <p style="width: 260px;"> <%= `End Time-${res.EndTime}` %> </p>
                <p> <%= `Duration-${res.Duration}` %> </p>
                
              </a>
          <% }) %>
        </div>

 </div>
    
    <%include ../partials/footer%>