	<%include ../partials/header%>

	<!-- Start contact-page Area -->
	<section class="contact-page-area section-gap">
			<div class="container-padding">
					<div class="container box_1170">
						<div class="row align-items-center justify-content-between">
							<div class="col-lg-6 col-md-6 col-sm-6" >
									<h1 style="color: #0e102b ">Update Resource</h1>
									<%include ../partials/messages%>
									<br>
									<br>
							</div>
						</div>
					</div>
				</div>
		<div class="container box_1170 ">
			<div class="row">
				<div class="col-lg-8">
					<form class="form-area" action="/resources/update/<%= resources._id%>" method="post" class="contact-form text-right" enctype="multipart/form-data">
						<div class="row">
							<div class="col-lg-6 form-group">
								<input name="type" placeholder="Type" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type'"
								 class="common-input mb-20 form-control" required="" type="text" value= "<%=resources.type%>">

								<input name="category" placeholder="Category" 
								 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Category'" class="common-input mb-20 form-control"
								 required="" type="text" value= "<%=resources.category%>">

								<input name="name" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'"
								 class="common-input mb-20 form-control" required="" type="text" value= "<%=resources.name%>">

								 <input name="author" placeholder="Author" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Author'"
								 class="common-input mb-20 form-control" required="" type="text" value= "<%=resources.author%>">

								 <input name="image" placeholder="Author" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Author'"
								 class="common-input mb-20 form-control" required="" type="file">


							
							<div class="col-lg-6 form-group"></div>
								<textarea class="common-textarea form-control" name="details" placeholder="Detail" onfocus="this.placeholder = ''"
								 onblur="this.placeholder = 'Detail'" required="" value= "<%=resources.details%>"><%=resources.details%></textarea>
							</div>
							<div class="col-lg-12 d-flex justify-content-left">
								
								<button type = "submit" class="primary-btn submit_btn text-uppercase">Update Resource</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- End contact-page Area -->

	<%include ../partials/footer%>