<% include ../partials/header %>
<section class="blog_area section-gap single-post-area">
        <div class="container box_1170">
            <div class="row mx-auto">
                <div class="col-lg-8">
                    <div class="main_blog_details">
                        <img class="img-fluid" src="<%=resources.img.url%>" >
                        <h1><%=resources.name%></h1>
                        <h2><%=resources.author%></h2>
                        
                        <div class="user_details">
                            <div class="float-right">
                                <div class="media">
                                    <div class="media-body">
                                        <h5><%=resources.user%></h5>
                                        <p><%=resources.date%></p>
                                        <h6><%=resources.type%>, <%=resources.category%></h6>
                                       
                                    </div>
                                </div>

                            </div>
                            <h5><%=resources.details%></h5>
                        </div>
                        
                    </div>

<% if(user.role=='admin'){%>
        <a href="/resources/update/<%= resources.id%>" class="btn btn-primary" title="Edit"><span class="fas fa-edit" style="font-size: 1em;"></span> Edit</a>
        <a href="/resources/delete/<%= resources.id%>" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger" title="Delete"><span class="fas fa-trash" style="font-size: 1em;"></span> Delete</a>
<%}%>

   <%for(var i=0; i< likes.length; i++) {
    if(likes[i].user===user.id){
    break;}}
    if(i==likes.length && user.role =='student'){%>
   <a href="/resources/like/<%= resources.id%>" class="btn btn-primary" title="likes">likes: <%=likes.length%></a>
<%} else{%>
<a href="#" class="btn btn-primary" title="likes: <%=likes.length%>" disabled >likes: <%=likes.length%></a>
<%}%>


                    
                    <div class="comments-area">
<%if(comments.length!=0){
for(var i=0; i< comments.length; i++) { %>
<div class="comment-list">
    <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
            
                <div class="desc">
                    <h5><%=comments[i].user%></h5>
                    <p class="date"><%=comments[i].date%></p>
                    <p class="comment"><%=comments[i].comment%></p>
                </div>
            </div>
        </div>
    </div>
<% } } else {%>
<div class="comment-list">
    <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
            
             <h5>No Comments!!</h5>   
            </div>
        </div>
    </div>
<% }%>





                    <%if(user && user.role =='student'){%>
                    <div class="comment-form">
                        <h4>Leave a Comment</h4>
                            <div class="form-group">
                                <form class="form" action="/resources/comment/<%=resources.id%>" method="post">
                                <textarea class="form-control mb-10" rows="5" name="comment" placeholder="Comment"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Comment'" required=""></textarea>
                           
                            <button type = "submit" class="primary-btn submit_btn text-uppercase">Comment</button>
                        </form>
                         </div>
                    </div>
                    <%}%>
                </div>
            </section>
<% include ../partials/footer %>